.env
backend/database.json
backend/dummy_database.json
backend/dummy_audio/*.mp3
backend/audio/*.mp3
*/__pycache__/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/.vite/